@import url(./reset.css);

/*Entete*/
header{
    position: fixed;
    display: flex;
    align-items: center;
    border-bottom: solid .1rem rgb(16, 16, 230);
    background-color: #fff;
    z-index: 1000;
    width: 100%;
    top: 0;
}

h1{
    position: relative;
    color: rgb(16, 16, 230);
    text-align: center;
    font-weight: 500;
    line-height: 3.5rem;
    font-size: 3rem;
}
h1 span{
    color: rgb(228, 57, 57);
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 1.5rem;
}

.logo{
    width: 150px;
    left: 10px;
}

.logo img{
    width: 120px;
}

/*La navigation bar*/
.navbar{
    position: absolute;
    max-width: 960px;
    right: 30px;
}

.navbar ul{
    display: flex;
    gap: 20px;

}

.navbar ul a{
    color: #000;
    font-weight: 400;
    font-size: 1.6rem;
}

.navbar ul a:hover{
    color: rgb(96, 96, 230);
    transition: .3s ease-in-out;
}

/*Menu Icone*/
.menu{
    width: 50px;
    height: 50px;
    right: 10px;
    background-image: linear-gradient(to right, #e91e63, #f44336);
    border-radius: 5px;
    cursor: pointer;
    display: none;
    position: absolute;
}

.menu div{
    width: 30px;
    height: 30px;
    margin: 10px;
    position: relative;
}

.menu span{
    background-color: #fff;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s, width 0.5s;
}

.menu .line-1{
    transform: translate(-50%, -15px);
}
.menu .line-3{
    transform: translate(-50%, 10px);
}
.openmenu .line-1{
    transform: translate(-50%, 50%) rotate(-45deg);
}
.openmenu .line-3{
    transform: translate(-50%, 50%) rotate(45deg);
}
.openmenu .line-2{
    width: 0;
}

main{
    margin-top: 100px;
}

/*Section banière*/

section .baniere{
    width: 100%;
    height: 400px;
}

section .baniere img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.welcome{
    position: absolute;
    top: 300px;
    margin: auto 100px;
}

.welcome h2{
    color: #fff;
    font-size: 3rem;
}

.welcome p{
    color: #fff;
    font-weight: 400;
}

/*La section Actualités*/
.actualites{
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 100%;
}

.actualites h2{
    border-bottom: solid .2rem rgb(96, 96, 230);
    font-weight: 500;
    padding: 5px;
    text-align: center;
    font-size: 3rem;
    margin: 10px auto;
    max-width: 90%;
}

.les-actualites{
    margin: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 20px;
    justify-content: center;
}

.les-actualites .actu{
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
}

.les-actualites .actu .image{
    width: 350px;
    height: 200px;
}

.les-actualites .actu .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.les-actualites .actu p{
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
}

.baniere-actu{
    position: relative;
    width: 100%;
    height: 400px;
}

.baniere-actu img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.contenu-img{
    width: 100%;
    position: absolute;
    top:10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenu-img .bg-competition{
    width: 30%;
    background-color: rgb(248, 94, 94);
    opacity: .8;
    padding: 3px;
}
.contenu-img .bg-competition h3{
    color: #fff;
    text-align: center;
}

.contenu-img .bg-competition h3 span{
    font-weight: 200;
}

.contenu-img p{
    color: #fff;
    font-size: 6rem;
    font-weight: 800;
    line-height: 5rem;
    text-align: center;
}

.contenu-img p span{
    font-size: 4rem;
}


/* CONTACTS */
.contacts{
    background-color: rgb(96, 96, 230);
    padding-top: 10px;
}

.contacts .contenu-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.contacts h2{
    color: #fff;
    text-align: center;
}
.contacts .contenu-contact p{
    color: #fff;
    text-align: center;
}

.contacts .contenu-contact .contact-icons img{
    width: 40px;
    margin: 10px;
}
.line{
    display: flex;
    content: "";
    margin: 20px auto;
    width: 100px;
    height: 3px;
    justify-content: center;
    background: #fff;
    
}

.contact-icons a{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

/* Pied de page */ 
footer{
    background-color: rgb(96, 96, 230);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
footer .footer-contenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


footer p{
    color: #fff;
    text-align: center;
    padding-top: 10px;
    border-top: #fff solid .1rem;
    font-size: 1.5rem;
}

/*les media queries*/

@media screen and (max-width: 1192px) {
    .navbar, h1{
        display: none;
    }

    .menu{
        display: block;
    }
    .welcome h2{
        font-size: 2rem;
    }

    .welcome p{
        font-weight: 200;
        font-size: 1.4rem;
    }

    .welcome{
        margin: auto 20px;
    }

    .actualites h2{
       
    }

    .contenu-img .bg-competition h3{
        font-size: 1rem;
    }

    .les-actualites .actu{
        max-width: 90%;
        margin: 0 auto;
        overflow: hidden;
    }

    .les-actualites .actu .image{
        width: 100%;
        height: 200px;
    }

    .les-actualites{
        display: flex;
        flex-direction: column;
        margin: auto;
    }


    .contenu-img p{
        font-size: 3.5rem;
    }

    .contenu-img p span{
        font-size: 2.5rem;
    }

    .contacts .contenu-contact p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px){
   

    .les-actualites .actu {
       

    }
}